fastapi==0.115.12
google-generativeai==0.8.4
google-auth-oauthlib==1.2.1
google-auth==2.38.0
google-api-python-client==2.165.0
grpcio==1.71.0
pytesseract==0.3.13
pillow==11.1.0
pdf2image==1.17.0
pypdf2==3.0.1
python-dotenv==1.1.0
pytz==2025.2
typing-extensions==4.13.0
uvicorn==0.34.0
